cluster:
  name: dev
  cloud: ""

repo:
  url: "https://github.com/David-Shenker/argo-apps.git"
  revision: dev

chart:
  repoURL: ""
  version: "*"

paths:
  values: "values"
  charts: "helm-charts"
  clusters: "clusters"
  appofappsValueFiles:
    - "{{ .valuesDir }}/_defaults/_all.yaml"
    - "{{ .valuesDir }}/_defaults/{{ .chartName }}.yaml"
    - "{{ .valuesDir }}/_defaults/{{ .cloud }}/{{ .chartName }}.yaml"
    - "{{ .valuesDir }}/{{ .cluster }}/_defaults/_all.yaml"
    - "{{ .valuesDir }}/{{ .cluster }}/_defaults/{{ .chartName }}.yaml"
  appSetValueFiles:
    - "{{ .valuesDir }}/_defaults/_all.yaml"
    - "{{ .valuesDir }}/_defaults/{{ .chartName }}.yaml"
    - "{{ .valuesDir }}/_defaults/{{ .cloud }}/{{ .chartName }}.yaml"
    - "{{ .valuesDir }}/{{ .cluster }}/_defaults/_all.yaml"
    - "{{ .valuesDir }}/{{ .cluster }}/_defaults/{{ .chartName }}.yaml"
    - "{{ .valuesDir }}/{{ .cluster }}/{{ .appSetName }}/{{ .namespace }}/{{ .chartName }}/{{ .releaseName }}.yaml"

# Generator configuration - customize pathPattern and segments to match your folder structure
# Example: To add realm support, uncomment and modify:
# generator:
#   pathPattern: "values/{{ .cluster }}/*/{{ .appSetName }}/*/*/*.yaml"
#   segments:
#     realm: 2
#     appSetName: 3
#     namespace: 4
#     chartName: 5
# Then update appSetValueFiles to include: {{ .realm }}

defaults:
  multiSource: false
  argocdNamespace: "argocd"
  project: "default"
  parentInstance: "appofapps--argocd"

appofapps:
  argocd:
    appofapps:
      enabled: true
      multiSource: false
      chartVersion: "1.0.0"
      labels:
        argocd.argoproj.io/instance: appofapps--argocd
      disableFinalizers: true
      valueFiles:
        - "{{ .sourcePath }}/appsets.yaml"
        - "{{ .valuesDir }}/{{ .cluster }}/_defaults/{{ .chartName }}.yaml"
