# Repository Credentials
repoCredentials:
  enabled: false
  name: "repo-creds"
  url: ""
  sshPrivateKey: ""
  username: ""
  password: ""

# ArgoCD Chart Configuration
argo-cd:
  global:
    logging:
      format: text
      level: info

  controller:
    replicas: 1
    resources:
      requests:
        cpu: 250m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi

  server:
    replicas: 1
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 128Mi
    ingress:
      enabled: false
    service:
      type: ClusterIP

  repoServer:
    replicas: 1
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        cpu: 50m
        memory: 128Mi

  applicationSet:
    enabled: true
    replicas: 1
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 128Mi

  notifications:
    enabled: true
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        cpu: 50m
        memory: 64Mi

  redis:
    enabled: true
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        cpu: 50m
        memory: 64Mi

  dex:
    enabled: false

  configs:
    repositories: {}
    credentialTemplates: {}
    cm:
      exec.enabled: "false"
      statusbadge.enabled: "true"
      timeout.reconciliation: 180s
    rbac:
      policy.default: role:readonly
      policy.csv: |
        g, argocd-admins, role:admin
