# Single-source: charts stored in the same Git repo

cluster:
  name: prod
  cloud: ""

repo:
  url: "git@github.com:your-org/argo-apps.git"
  revision: main

chart:
  repoURL: ""
  version: ""

paths:
  values: "values"
  charts: "helm-charts"
  clusters: "clusters"

defaults:
  multiSource: false
  argocdNamespace: "argocd"
  project: "default"

appofapps:
  argocd:
    cluster-bootstrap:
      enabled: true
      multiSource: false
      disableFinalizers: true
      labels:
        app.kubernetes.io/part-of: cluster-management
      valueFiles:
        - "appsets.yaml"
        - "{{ .valuesDir }}/{{ .cluster }}/base/{{ .chartName }}.yaml"
