# Multi-source: charts from external Helm repository, values in Git

cluster:
  name: prod
  cloud: aws

repo:
  url: "git@github.com:your-org/argo-apps.git"
  revision: main

chart:
  repoURL: "https://charts.your-company.com"
  version: "1.0.0"

paths:
  values: "values"
  charts: "helm-charts"
  clusters: "clusters"

defaults:
  multiSource: true
  argocdNamespace: "argocd"
  project: "default"
  ignoreMissingValueFiles: true

appofapps:
  argocd:
    cluster-bootstrap:
      enabled: true
      multiSource: false
      disableFinalizers: true
      valueFiles:
        - "appsets.yaml"
